body {
  color: #ADBAC7;
}
.wy-body-for-nav {
  background-color: #22272E;
}

.wy-nav-content {
  background-color: #22272E;
}

.wy-side-nav-search {
  background-color: #212529;
}

.wy-nav-side {
  background-color: #121416;
}

td, th {
  color: #ADBAC7;
}

tr, td {
  background-color: #22272E;
}
