body {
  color: #ADBAC7;
}
.wy-body-for-nav {
  background: #22272E;
}

.wy-nav-content {
  background: #22272E;
}

.wy-side-nav-search {
  background-color: #212529;
}

.wy-nav-side {
  background: #121416;
}
